@use "./common.scss";

.main {
  @include common.center;
  width: 100vw;
  height: 100vh;
  background-color: common.$background-color;

  .frame {
    box-sizing: border-box;
    display: flex;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 15px;
    border: 1px solid common.$font-color;
    background-image: url(./assets/image/bg.gif);
    background-size: cover;
    animation: fade-in 3s;
  }

  .copyright {
    position: absolute;
    bottom: 6px;
    left: 40px;
    font-size: 11px;
    color: common.$hovered-font-color;
    animation: fade-in 3s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
