@use "./common.scss";

.layout {
  @include common.center;
  width: 100vw;
  height: 100vh;

  .frame {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 15px;
    border: 1px solid common.$font-color;
    background-image: url(./assets/image/bg.gif);
    background-size: cover;
    animation: fade-in 3s;

    .contents {
      display: flex;
      width: 100%;
      height: 100%;
      gap: 100px;
    }

    .copyright {
      position: absolute;
      bottom: 6px;
      left: 40px;
      font-size: 11px;
      color: common.$hovered-font-color;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
