@use "../common.scss";

.header {
  color: common.$font-color;

  .name {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.04em;
    padding: 0;
    margin: 0 0 4px;
  }

  .title {
    font-size: 11px;
    opacity: 0.45;
    padding: 0;
    margin: 0;
    letter-spacing: 0.03em;
  }
}
