@use "../common";

.splash {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: common.$background-color;
  @include common.center;
  gap: 15px;
  animation: fade-in ease-in-out 0.5s;

  .name {
    font-size: 36px;
    opacity: 0;
    animation: fade-out linear 2.5s;
  }

  .portfolio {
    color: rgba($color: #ffffff, $alpha: 0.7);
  }

  .animPortfolio {
    opacity: 0;
    animation: fade-out linear 0.5s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
