@use "../common.scss";

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  row-gap: 15px;

  .bullet {
    opacity: 1;
    animation: fade-in ease-in-out 0.5s;
  }

  a:hover {
    color: common.$hovered-font-color;
    transition: 0.5s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
