@use "../common.scss";

.nav {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  font-size: 13px;
  letter-spacing: 0.03em;

  .bullet {
    opacity: 1;
    animation: fade-in ease-in-out 0.5s;
  }

  a {
    color: common.$font-color;
    opacity: 0.55;
    text-decoration: none;
    transition: opacity 0.3s;
  }

  a:hover {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
